.ChatContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  
  }
  
  .InnerChatContainer {
    width: 350px;
    height: 600px;
    border-radius: 25px;
    background-color: #ffffff;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
  }
  
  .ChatScreen {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }
  
  .ChatScreen h4 {
    text-align: center;
    padding: 10px;
    background-color: #f0f0f0;
  }
  
  .messagesContainer {
    flex: 1;
    overflow-y: auto;
    padding: 15px;
    display: flex;
    flex-direction: column;
    
  }
  
 
  
  
  
 
  
  .message-user,
  .message-content {
    margin: 0;
  }
  
  .messagePart {
    display: flex;
    border-top: 1px solid #e5e5ea;
    padding: 10px;
  }
  
  .messagePartForm {
    flex: 1;
    display: flex;
  }
  
  .textMessage {
    flex: 1;
    border-radius: 20px;
    border: none;
    padding: 10px;
    margin-right: 10px;
  }
  
  .messagePartForm button {
    background-color: #007aff;
    color: white;
    border: none;
    border-radius: 50%; /* Make button circular */
    width: 36px; /* Fixed width */
    height: 36px; /* Fixed height */
    display: flex; /* Use flex to center the icon */
    align-items: center; /* Center icon vertically */
    justify-content: center; /* Center icon horizontally */
    cursor: pointer;
  }
  
  .exitButton {
    background-color: #ff3b30;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    cursor: pointer;
    margin-left: 10px;
  }
  .currentUserMessageWrapper,
  .otherUserMessageWrapper {
    max-width: 60%;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
  }
  .currentUserMessageWrapper {
    align-self: flex-end; /* Align right */
    justify-content: flex-end;
  }
  
  .otherUserMessageWrapper {
    align-items: flex-start; /* Align left */
  }
  .currentUserMessage,
  .otherUserMessage {
    padding: 10px;
    border-radius: 20px;
  }
  
  .currentUserMessage {
    background-color: #007aff;
    color: white;
    margin-left: auto;
  }
  
  .otherUserMessage {
    background-color: #e5e5ea;
    
  }
  
  .timestamp {
    font-size: 0.8em;
    color: grey;
  
  }